{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
    <div class="row divider grey">
        <div class="col-md-12"></div>
    </div>
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>Edit {{ episode.tvshow.name }} episode</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form action="#" method="post">
                <div class="form-group">
                    <label for="name">Title:</label>
                    <input type="text" maxlength="100" class="form-control"
                           name="title" value="{{ episode.title }}">

                    <label for="season">Season:</label>
                    <textarea class="form-control" maxlength="250" rows="3"
                              name="season">{{ episode.season }}</textarea>

                    <label for="episode">Episode:</label>
                    <textarea class="form-control" maxlength="250" rows="3"
                              name="episode">{{ episode.episode_num }}</textarea>

                    <label for="airdate">Airdate:</label>
                    <textarea class="form-control" maxlength="250" rows="3"
                              name="airdate">{{ episode.airdate }}</textarea>

                    <button type="submit" class="btn btn-default" id="submit"
                            type="submit">
                        <span class="glyphicon glyphicon-ok"
                              aria-hidden="true"></span>Save
                    </button>

                    <a href='{{ url_for('showEpisodes', tvshow_id=episode.tvshow.id) }}'>
                        <button type="button" class="btn btn-default delete">
                        <span class="glyphicon glyphicon-remove"
                              aria-hidden="true"></span> Cancel
                        </button>
                    </a>
                    <a href="{{ url_for('deleteEpisode', tvshow_id=episode.tvshow.id,episode_id=episode.id) }}">
                        <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove"
                              aria-label="delete" aria-hidden="true"></span>
                            Delete
                        </button>
                    </a>
            </form>
        </div>
    </div>
{% endblock %}